<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.bbs.study.csw.models.IUserModel">
    <insert id="insertUser" parameterType="dev.bbs.study.csw.vos.RegisterVo">
        INSERT INTO `git_bbs`.`users`(`email`, `password`, nickname, `name_first`, `name_optional`, `name_last`,
                                      `contact_first`, `contact_second`, `contact_third`, `address_post`,
                                      `address_primary`, `address_secondary`)
        VALUES (#{email}, #{password}, #{nickname}, #{nameFirst}, #{nameOptional}, #{nameLast},
                #{contactFirst}, #{contactSecond}, #{contactThird}, #{addressPost},
                #{addressPrimary}, #{addressSecondary})
    </insert>

    <select id="selectEmailCount" resultType="_int">
        SELECT COUNT(`index`)
        FROM `git_bbs`.`users`
        WHERE `email` = #{email}
    </select>

    <select id="selectNicknameCount" resultType="_int">
        SELECT COUNT(`index`)
        FROM `git_bbs`.`users`
        WHERE `nickname` = #{nickname}
    </select>


    <select id="selectUser">
        SELECT `index` AS `index`,
               `email` AS `email`,
               `password` AS `password`,
               `nickname` AS `nickname`,
               `name_first` AS `nameFirst`,
               `name_optional` AS `nameOptional`,
               `name_last` AS `nameLast`,
               `contact_first` AS `contactFirst`,
               `contact_second` AS `contactSecond`,
               `contact_third` AS `contactThird`,
               `address_post` AS addressPost,
               `address_primary` AS addressPrimary,
               `address_secondary` AS addressSecondary,
               `level` AS `level`
        FROM `git_bbs`.`users`
        WHERE `email` = #{email}
          AND `password` = #{password}
        LIMIT 1
    </select>
</mapper>