body > header > div.header_01 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 11px;
    border-bottom: 1px solid #ddd;
}

body > header > div.header_01 > div.tag {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20rem;
}

body > header > div.header_01 > div.tag > a:first-child {
    border-top: 1px solid #fff;
    line-height: 39px;
    padding: 0 7px 0 9px;
    font-size: 12px;
    color: #888;
}

body > header > div.header_01 > div.tag > a:first-child:hover {
    border-top: 1px solid #111;
    color: #10151a;
}

body > header > div.header_01 > div.tag > a > img {
    background-color: #eee;
    border-radius: 50%;
    padding: 5px;
}

body > header > div.header_01 > div.tag > a > img:hover {
    transform: rotate( 25deg );
    text-decoration: underline;
    background-color: #ddd;
}

body > header > div.header_01 > div.tag > div:last-child {
    padding: 0 0 0 0.0625rem;
}

body > header > div.header_01> div.search {
    flex-grow: 1;
    flex-shrink: 1;
}

body > header > div.header_01 > div.user > ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > header > div.header_01 > div.user > a {
    padding: 11px 7px 1px 8px;
    border-top: 1px solid #fff;
    color: #10151a;
    letter-spacing: 0.08em;
}

body > header > div.header_01 > div.user > a:first-child,
body > header > div.header_01 > div.user > a.user-my {
    font-weight: bold;
}

body > header > div.header_01 > div.user > a:hover {
    border-top: 1px solid #111;
    font-weight: bold;
}

body > header > div.header_01 > div.select {
    padding-right: 20rem;
}

body > header > div.header_01 > div.select > form > input.select-input {
    border-radius: 5px;
    background-color: #eee;
    border: none;
    height: 26px;
    width: 106px;
    font-size: 12px;
    line-height: 28px;
    position: relative;
    margin: 0 -1px 0 0;
    padding: 0px 0px 0px 15px;
    color: #333;

}

body > header > div.header_01 > div.select > form > input.select-input:hover,
body > header > div.header_01 > div.select > form > input.select-input:active {
    background-color: #ddd;
    border: none;
}

body > header > div.header_01 > div.select > form > img {
    line-height: 28px;
    background-color: #eee;
}

body > header > div.header_02 {
    border-bottom: 2px solid;
}

body > header > div.header_02 > a {
    font-size: 3rem;
    padding: 1rem 0 1.5rem 0;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body > header > div.header_03 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

body > header > div.header_03 > ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > header > div.header_03 > ul > li {
    padding: 1rem;
    cursor: pointer;
}

body > header > div.header_03 > ul > li:last-child {
    margin-right: 10rem;
}

body > header > div.header_03 > ul > li > a {
    font-size: 12px;
    font-weight: bold;
    color: #888;
}

body > header > div.header_03 > ul > li > a:hover {
    color: #10151a;
}