body > header > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
}

body > header > div > div.tag {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > header > div > div.tag > ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > header > div > div.tag > ul > li {
    padding: 0 7px 0 9px;
}

body > header > div > div.tag > ul > li:first-child {
    border-top: 1px solid #fff;
    line-height: 39px;
}

body > header > div > div.tag > ul > li:first-child:hover {
    border-top: 1px solid #111;
}

body > header > div> div.search {
    flex-grow: 1;
    flex-shrink: 1;
}

body > header > div > div.user > ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > header > div > div.user > ul > li {
    padding: 0 7px 1px 8px;
    border-top: 1px solid #fff;
    line-height: 39px;
    color: #10151a;
    letter-spacing: 0.08em;
}

body > header > div > div.user > ul > li:hover {
    border-top: 1px solid #111;
}